<%= simple_form_for(@metodologia) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.text_field :name %>
      <%= f.text_field :descripcion %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
