

<% if current_user.admin?  %>

    <table class="table table-hover">
      <tr>
        <th> <%= link_to "id", :sort => "Id" %>  </th>
        <th> <%= link_to "name", :sort => "Name" %>  </th>
        <th> <%= link_to "email", :sort => "Email" %>  </th>
        <th> <%= link_to "admin", :sort => "admin" %>  </th>
      </tr>

      <% @user.each do |x|  %>
          <tr>
            <td> <%=x.id %></td>
            <td> <%=x.name %></td>
            <td> <%=x.email %></td>
            <td> <%=x.admin %></td>
            <td>
              <%= form_for(x, :html => { :multipart => true }) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>

                  <%= f.label "admin?" %>
                  <%= f.check_box :admin %>

                  <%= f.submit "Submit", class: "button small radius" %>
              <% end %>
            </td>


          </tr>
      <% end  %>

    </table>

<% else  %>

<div class="container">
    <h1>Usuarios</h1>
    <table class="table table-hover">
      <tr>
        <th> <%= link_to "name", :sort => "Name" %>  </th>
        <th> <%= link_to "email", :sort => "Email" %>  </th>
      </tr>
      <% @user.each do |x|  %>
      <tr>
        <td> <%=link_to x.name, x %></td>
        <td> <%=x.email %></td>
      </tr>
      <% end  %>
    </table>
</div>

<% end  %>



