<div class="container">

<div class="col-md-6" style="margin-top: 10px; margin-bottom: 20px">
  <h2 style="margin-bottom: 20px">Expertos en el tema</h2>
  <%	 @user.each do |x| %>
     <%	 x.cursosusuario.each do |t| %>

         <%	 if t.curso_id == @curso.id  %>
              <%	 if t.nivel2014 == true  %>

              <li class="glyphicon-list">  <%= link_to x.name, x %></li>


              <%	 else %>
              <%	 end %>
         <%	 else %>
         <%	end %>

     <%	 end %>
  <%	 end %>
  <hr/>

</div>


<div class="col-md-8 small">
  <table class="table table-hover">
    <tr>
      <th> <%= link_to "Nombre", :sort => "Name" %>  </th>
      <th> <%= link_to "Subido por:", :sort => "Subido por:" %>  </th>
      <th> <%= link_to "Tamaño", :sort => "archivo_file_size" %>  </th>
      <th> <%= link_to "fecha", :sort => "fecha" %>  </th>
      <th> <%= link_to "Archivo", :sort => "Archivo" %>  </th>
      <th> <%= link_to "Eliminar", :sort => "Eliminar" %>  </th>
    </tr>
      <%	 @curso.archivos.each do |x| %>
        <tr>
          <td> <%= x.name	  %></td>
          <td> <%= x.user.name %></td>
          <td> <%= number_to_human(x.archivo_file_size, units: {unit: "b", thousand: "Kb"}) %></td>
          <td> <%= x.archivo_updated_at.time.to_formatted_s(:short) %></td>
          <td>   <%= link_to  x.archivo_content_type, x.archivo.url(:original, false) %></td>
           <%	 if x.user_id == current_user.id %>
          <td>   <%= link_to "Eliminar", x, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          <%	 else %>
           <%	 end %>

        </tr>
      <%	 end %>
  </table>

</div>

    <%	 current_user.cursosusuario.each do |t| %>

        <%	 if t.curso_id == @curso.id  %>
            <%	 if t.nivel2014 == true  %>
            <div class="col-md-4 ">

              <%= form_for(@curso.archivos.new, :html => { :multipart => true }) do |f|  %>
                  <%= render 'shared/error_messages', object: f.object %>

                  <%= f.label :name %>
                  <%= f.text_field :name %>

                  <%= f.label :descripcion %>
                  <%= f.text_area :descripcion %>

                  <%= f.label :archivo %>
                  <%= f.file_field :archivo %>

                  <%= f.hidden_field :curso_id, :value => @curso.id %>

                  <div class="actions">
                    <%= f.submit %>
                  </div>
              <% end %>
            </div>



            <%	 else %>
            <%	 end %>
        <%	 else %>
        <%	end %>

    <%	 end %>


</div>