

<% if signed_in? %>



<% else %>

<div class="col-md-6 col-sm-6 col-xs-12" style="background-color: #e6e6e5" >
      <div class="row" style="height: 360px; background-color: #ffffff; padding: 30px; margin-right: 2px;">
        <h1><%=	 link_to "Nosotros", nosotros_path %> </h1>
        <hr>
        <div class="row" style="height: 60px">
            <ul class="nav">
              <li> Prueba</li>
              <li> Prueba</li>
              <li> Prueba</li>
            </ul>
        </div>
        <div class="row">
          <div class="col-md-offset-3">
          <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
          </div>
        </div>
      </div>
      <div class="row" style="height: 360px; background-color: #ffffff; padding: 30px; margin-right: 2px; margin-top: 10px  ">
          <h1><%=	 link_to "Nosotros", nosotros_path %> </h1>
          <hr>
          <div class="row" style="height: 60px">
            <ul class="nav">
              <li> Prueba</li>
              <li> Prueba</li>
              <li> Prueba</li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-offset-3">
              <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
            </div>
          </div>
      </div>

      <div class="row" style="height: 360px; background-color: #ffffff; padding: 30px; margin-right: 2px; margin-top: 10px  ">
          <h1><%=	 link_to "Nosotros", nosotros_path %> </h1>
          <hr>
          <div class="row" style="height: 60px">
            <ul class="nav">
              <li> Prueba</li>
              <li> Prueba</li>
              <li> Prueba</li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-offset-3">
              <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
            </div>
          </div>
      </div>
</div>



<div class="col-md-6 col-sm-6 col-xs-12" style="background-color: #e6e6e5" >
  <div class="row" style="height: 360px; background-color: #ffffff; padding: 30px; margin-left: 2px;">
    <h1><%=	 link_to "Nosotros", nosotros_path %> </h1>
    <hr>
    <div class="row" style="height: 60px">
      <ul class="nav">
        <li> Prueba</li>
        <li> Prueba</li>
        <li> Prueba</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-offset-3">
        <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
      </div>
    </div>
  </div>
  <div class="row" style="height: 360px; background-color: #ffffff; padding: 30px; margin-left: 2px; margin-top: 10px  ">
    <h1><%=	 link_to "Nosotros", nosotros_path %> </h1>
    <hr>
    <div class="row" style="height: 60px">
      <ul class="nav">
        <li> Prueba</li>
        <li> Prueba</li>
        <li> Prueba</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-offset-3">
        <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
      </div>
    </div>
  </div>

  <div class="row" style="height: 360px; background-color: #ffffff; padding: 30px; margin-left: 2px; margin-top: 10px  ">
    <h1><%=	 link_to "Nosotros", nosotros_path %> </h1>
    <hr>
    <div class="row" style="height: 60px">
      <ul class="nav">
        <li> Prueba</li>
        <li> Prueba</li>
        <li> Prueba</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-offset-3">
        <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
      </div>
    </div>
  </div>
</div>



<% end %>
