

<% if signed_in? %>



<% else %>

<div class="col-md-6 col-sm-6 col-xs-12" style="background-color: #e6e6e5" >
      <div class="row" style="height: 400px; background-color: #ffffff; padding: 30px; margin-right: -10px;">
        <h2><%=	 link_to "Sobre", nosotros_path %></h2>
        <h1><%=	 link_to "NOSOTROS", nosotros_path %> </h1>
        <hr>
        <div class="row" style="height: 60px">
            <ul class="nav " style="font-size: 16px; color: #808080">
              <li> Nuestra historia</li>
              <li> Misión y Visión</li>
            </ul>
        </div>
        <div class="row">
          <div class="col-md-offset-3">
          <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
          </div>
        </div>
      </div>
      <div class="row" style="height: 400px; background-color: #ffffff; padding: 30px; margin-right: -10px; margin-top: 10px  ">
        <h2><%=	 link_to "REALIDAD", nosotros_path %></h2>
        <h1><%=	 link_to "AUMENTADA", nosotros_path %> </h1>

          <hr>
          <div class="row" style="height: 60px">
           <p> La realidad aumentada es...</p>
          </div>
          <div class="row">
            <div class="col-md-offset-3">
              <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-02.png", class: "imageneshome" %>
            </div>
          </div>
      </div>

      <div class="row" style="height: 412px; background-color: #ffffff; padding: 30px; margin-right: -10px; margin-top: 10px  ">
        <h2><%=	 link_to "Conoce", nosotros_path %></h2>
        <div style="margin: -20px"><%= link_to image_tag("https://s3.amazonaws.com/adsmex/Nordlock-05.png"), nosotros_path %> </div>
          <hr>
          <div class="row" style="height: 60px">
            <ul class="nav"  style="font-size: 16px; color: #808080">
              <li> Nuestra historia</li>
              <li> Misión y Visión</li>
            </ul>
          </div>
          <div class="row"  >
            <div class="col-md-offset-6" >
              <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-04.png"%>
            </div>
          </div>
      </div>
</div>



<div class="col-md-6 col-sm-6 col-xs-12" style="background-color: #e6e6e5" >
  <div class="row" style="height: 400px; background-color: #ffffff; padding: 30px; margin-left: -10px;">
    <h2><%=	 link_to "Nuestros", nosotros_path %></h2>
    <h1><%=	 link_to "PRODUCTOS", nosotros_path %> </h1>
    <hr>
    <div class="row" style="height: 60px">
      <div class="col-md-6">
          <ul class="nav"  style="font-size: 16px; color: #808080">
            <li> QDA </li>
            <li> 600 Data Collector</li>
            <li> Gage interfaces </li>
          </ul>
      </div>
      <div class="col-md-6">
          <ul class="nav"  style="font-size: 16px; color: #808080">
              <li> Measurement Systems </li>
              <li> Proces Interfaces </li>
              <li> More ... </li>
          </ul>
    </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3">
        <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-01.png", class: "imageneshome" %>
      </div>
    </div>
  </div>
  <div class="row" style="height: 400px; background-color: #ffffff; padding: 30px; margin-left: -10px; margin-top: 10px  ">
    <h2><%=	 link_to "Metodologías", nosotros_path %></h2>
    <h1><%=	 link_to "6 SIGMA", nosotros_path %> </h1>
    <hr>
    <div class="row" style="height: 60px">
      <ul class="nav"  style="font-size: 16px; color: #808080">
        <li> DMAIC</li>
        <li> APQP</li>
        <li> SPC</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-offset-3">
        <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-03.png", class: "imageneshome" %>
      </div>
    </div>
  </div>

  <div class="row" style="height: 412px; background-color: #4c73a2; padding: 30px; margin-left: -10px; margin-top: 10px  ">
    <h2 > <%=	 link_to "Contacto", nosotros_path, class: "blanco" %></h2>

    <%=	 render 'shared/new', :@contact => Contact.new %>


  </div>
</div>



<% end %>
