

<% if signed_in? %>



<% else %>

<div class="col-md-6 col-sm-6 col-xs-12" style="background-color: #e6e6e5" >
      <div class="row cuadrohome" >
        <h2><%=	 link_to "Sobre", nosotros_path %></h2>
        <h1><%=	 link_to "NOSOTROS", nosotros_path %> </h1>
        <hr>
        <div class="row" style="height: 60px; z-index: 2">
            <ul class="nav " style="font-size: 16px; color: #808080">
              <li> Nuestra historia</li>
              <li> Misión y Visión</li>
            </ul>
          <div class="col-md-2 col-xs-2 btn-warning" style="border-radius: 8px; margin-left: 10px">
            <%=	 link_to "Ver más", nosotros_path, class: "blanco" %>
          </div>
        </div>
        <div class="row" style="z-index: 2">
          <div class="col-md-offset-3">
          <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
          </div>
        </div>
      </div>
      <div class="row cuadrohome" style=" margin-right: -10px; margin-top: 10px  ">
        <h2><%=	 link_to "REALIDAD", nosotros_path %></h2>
        <h1><%=	 link_to "AUMENTADA", nosotros_path %> </h1>

          <hr>
          <div class="row" style="height: 60px">
           <p style="font-size: 16px; color: #808080"> La realidad aumentada es...</p>

          </div>
        <div class="col-md-2 col-xs-2 btn-warning" style="border-radius: 8px; margin-left: 10px; margin-top: -20px">
          <%=	 link_to "Ver más", nosotros_path, class: "blanco" %>
        </div>

          <div class="row">
            <div class="col-md-offset-3">
              <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-02.png", class: "imageneshome" %>
            </div>
          </div>
      </div>

      <div class="row cuadrohome" style="height: 379px; margin-right: -10px; margin-top: 10px"  >
        <h2><%=	 link_to "Conoce", nosotros_path %></h2>
        <div style="margin: -20px"><%= link_to image_tag("https://s3.amazonaws.com/adsmex/Nordlock-05.png"), nosotros_path %> </div>
          <hr>
          <div class="row" style="height: 25px">
            <ul class="nav"  style="font-size: 16px; color: #808080">
              <li> Aplicaciones </li>
              <li> Productos </li>
            </ul>
            <div class="col-md-2 col-xs-2 btn-warning" style="border-radius: 8px; margin-left: 10px">
              <%=	 link_to "Ver más", nosotros_path, class: "blanco" %>
            </div>
          </div>
          <div class="row" >
            <div class="col-md-offset-6" >
              <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-04.png"%>
            </div>
          </div>
      </div>
</div>



<div class="col-md-6 col-sm-6 col-xs-12" style="background-color: #e6e6e5" >
  <div class="row cuadrohome" style=" margin-left: -10px;">
    <h2><%=	 link_to "Nuestros", productos_path %></h2>
    <h1><%=	 link_to "PRODUCTOS", productos_path %> </h1>
    <hr>
    <div class="row" style="height: 60px">
       <%	 @productos.first(2).each do |x| %>
          <div class="col-md-6">
              <ul class="nav"  style="font-size: 16px; color: #808080">
                <li> <%=	link_to x.name, x %> </li>

              </ul>
          </div>
       <% end %>
      <%	 @productos.last(2).each do |x| %>
          <div class="col-md-6">
            <ul class="nav"  style="font-size: 16px; color: #808080">
              <li> <%=	link_to x.name, x %> </li>

            </ul>
          </div>
      <% end %>
      <div class="col-md-2 col-xs-2 btn-warning" style="border-radius: 8px; margin-left: 10px">
        <%=	 link_to "Ver más", nosotros_path, class: "blanco" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3">
        <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-01.png", class: "imageneshome" %>
      </div>
    </div>
  </div>
  <div class="row cuadrohome" style=" margin-left: -10px; margin-top: 10px  ">
    <h2><%=	 link_to "Metodologías", metodologias_path %></h2>
    <h1><%=	 link_to "6 SIGMA", metodologias_path %> </h1>
    <hr>
    <div class="row" style="height: 60px">
      <%	 @metodologias.first(4).each do |x| %>
          <div class="col-md-6">
            <ul class="nav"  style="font-size: 16px; color: #808080">
              <li> <%=	link_to x.name, x %> </li>

            </ul>
          </div>
      <% end %>
      <%	 @metodologias.last(4).each do |x| %>
          <div class="col-md-6">
            <ul class="nav"  style="font-size: 16px; color: #808080">
              <li> <%=	link_to x.name, x %> </li>

            </ul>
          </div>
      <% end %>
      <div class="col-md-2 col-xs-2 btn-warning" style="border-radius: 8px; margin-left: 10px">
        <%=	 link_to "Ver más", nosotros_path, class: "blanco" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3">
        <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-03.png", class: "imageneshome" %>
      </div>
    </div>
  </div>

  <div class="row" style="height: 379px; background-color: #4c73a2; padding: 30px; margin-left: -10px; margin-top: 10px  ">
    <h2 > <%=	 link_to "Contacto", nosotros_path, class: "blanco" %></h2>

    <%=	 render 'shared/new', :@contact => Contact.new %>


  </div>
</div>

<div class="col-md-12">
  <div class="row" style="margin-top: 10px; background-color: #ffffff">
    <div class="row img-responsive" style=" margin-left: 30px; margin-top: 20px ; margin-bottom: 20px ">

        <h2 class="titulocolor">  MAPA GRÁFICO DE</h2>
        <h1 class="titulocolor"> AUTOMATED DATA SYSTEMS </h1>
    </div>
     <div style="margin-bottom: 40px">
       <%=  image_tag "https://s3.amazonaws.com/adsmex/ads-qda-mapa.jpg", class: "img-responsive" %>
     </div>

  </div>
</div>

<% end %>
