
<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #e6e6e5" >

  <div class="row" style="background-color: #ffffff; padding: 40px; margin-right: -10px;">
    <div class="row">
           <div class="col-md-8">
                <h1 class="titulos" style="font-size: 80px !important;">Augmented Reality</h1>
             <h2 class="subtitulos"> for Manufacturing & 6 sigma  </h2>

           </div>
                <div class="col-md-4">
                    <%=  image_tag "https://s3.amazonaws.com/adsmex/mision-vision-ads.png", class: "imageneshome" %>
                </div>
            <hr class="linea">
    </div>
    <div class="row">
      <div class="col-md-12" >
       <%=  image_tag "https://s3.amazonaws.com/adsmex/ra/Cpk.png",class: "img-responsive" %>

      </div>

    </div>
    <hr class="linea">
    <div class="row" style="margin-bottom: 100px">
      <div class="col-md-6">
          <h2 class="subtitulos"> AR Engineering solutions overview</h2>
        <ul class="list-group-item-success">
            <li>Virtual protoyping on user’s field of view           </li>
            <li>Improved knowledge transfer        </li>
            <li>On time data visualization          </li>
            <li>Prevention and error detection          </li>
            <li>Visualization of drawings, 3D models, simulations, CAD data            </li>
            <li>Suitable technology for different production áreas     </li>
            <li>Enhancement of user field of view with superimposed virtual information         </li>
        </ul>
      </div>
      <div class="col-md-6">
        <br/>
        <iframe width="450" height="215" src="//www.youtube.com/embed/x8oNo1B1Zf4" frameborder="0" allowfullscreen></iframe>


      </div>
    </div>
    <hr class="linea">
    <div class="row">
      <div class="col-md-6 lineaderecha ">
        <div class="row" style="margin-left: 20px">
          <iframe width="450" height="215" src="//www.youtube.com/embed/HJpcyv3LpYA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6 " >
        <h2 class="subtitulos"> Fields of Application        </h2>
          <ul >
            <li> Localization of defective machinery and product failure        </li>
            <li> On time reports (production rates, out of specification product (OOS)     </li>
            <li> On time data on inventories and material location      </li>
            <li> Visual guides for critical and complex assembli   </li>
            <li> Technological assistance on maintenance operations and machine installation       </li>
            <li> Virtual guide and directions inside the plant       </li>
            <li> Knowledge gap reduction between senior and junior technicians     </li>
          </ul>

      </div>
    </div>

    <div class="row" >
      <hr class="linea">
      <div class="col-md-10 col-md-offset-1"  >
        <%=  image_tag "https://s3.amazonaws.com/adsmex/ra/RA-HARDWARE-01.png",class: "img-responsive"%>
      </div>
    </div>

    <div class="row">
      <hr class="linea">
      <div class="col-md-12">
        <div class="col-md-4">
          <iframe width="300" height="215" src="//www.youtube.com/embed/TQ_s03r5XEo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          <%=  image_tag "http://adsmex.s3.amazonaws.com/Realidad_aumentada_2.png",class: "img-responsive" %>
        </div>
        <div class="col-md-4">
          <%=  image_tag "http://adsmex.s3.amazonaws.com/Realidad_aumentada.png",class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="linea">
      <div class="col-md-12" >
        <%=  image_tag "https://s3.amazonaws.com/adsmex/ra/Warehouse.png",class: "img-responsive" %>
      </div>
    </div>


  </div>
</div>
