

<div class="container">
  <%	 current_user.cursosusuario.each do |x| %>

      <table class="table table-bordered table-responsive">
        <tr>
          <td>  <%=	 x.id %></td>
          <td>  <%=	 x.nivel2014 %></td>

              <td>
                <%=	 form_for x do |f| %>
                    <%=	 f.text_field :niveln2014 %>
                    <%=	 f.submit %>
                <% end %>
              </td>

        </tr>
      </table>



  <% end %>
</div>