<div class="navbar " role="navigation" style="margin-top: -55px; background-color: #f6f5f5">

      <div class="col-md-12">
      <div class="row" style="margin-top: 10px; margin-bottom: 0px">
          <div class=" col-md-2">
            <%=	 link_to image_tag("https://s3.amazonaws.com/adsmex/logoads1.png"), root_path, class: "logohome" %>
          </div>
          <div class="col-md-10" >
            <div class="row" style="padding-top: 20px">
                <div class="col-md-4 col-md-offset-8" >
                 <div class="row" >
                        <p> Welcome to our website, &nbsp;&nbsp;&nbsp;&nbsp;
                          <%= link_to "Login here", new_user_session_path %></p>
                  </div>
                </div>
                <div class="row">
                  <nav class="col-md-7 col-md-offset-5">
                      <ul class="list-inline" style="padding-top: 10px; font-size: 16px;">
                        <li><%= link_to "About us ", nosotros_path %></li>
                        <li><%= link_to "Products ", productos_path %></li>
                        <li><%= link_to "Methodologies ", metodologias_path %></li>
                        <li><%= link_to "Augmented Reality ", realidad_aumentada_path %></li>
                        <li><%= link_to "Contact ", contacto_path %></li>
                      </ul>
                  </nav>
                </div>
            </div>
          </div>
      </div>
      </div>

  <hr class="linea" >
      <div class="col-md-12">
          <div class="row" style="margin-left: 20px">
           <%=	 link_to "Home", root_path %> <%=	 request.path %>
          </div>
      </div>
</div>

