<div class="navbar" role="navigation" style="margin-top: -55px; background-color: #f6f5f5">
      <div class=" col-md-2">
        <%=	 link_to image_tag("https://s3.amazonaws.com/adsmex/logoads.png", class: "logohome"), root_path %>
      </div>

      <div class="col-md-10">
        <div class="row">
          <nav class="pull-right" >
            <ul class="nav" style="padding-top: 5px">
                    <li><%= link_to "Ingresar ", new_user_path %></li>
            </ul>
          </nav>
        </div>
        <div class="row">
          <nav class="pull-right">
              <ul class="list-inline" style="padding-top: 10px; font-size: 16px;">
                <li><%= link_to "Nosotros ", new_user_path %></li>
                <li><%= link_to "Productos ", new_user_path %></li>
                <li><%= link_to "Metodologías ", new_user_path %></li>
                <li><%= link_to "6 Sigma ", new_user_path %></li>
                <li><%= link_to "Realidad Aumentada ", new_user_path %></li>
                <li><%= link_to "Contacto ", contacto_path %></li>
              </ul>
          </nav>
        </div>
      </div>
  <hr class="linea">

</div>

